{{#modal-dialog title="Send Us Your Feedback" updateButtonText="Send" updateButtonAction="sendFeedback" }}
    <div class="row" style="padding: 10px">
        <p>Tell us about your experience:</p>
        {{textarea class="form-control" value=writtenUserFeedback rows=3}}
    </div>
{{/modal-dialog}}
